<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Please stand by</title>
</head>

<body>
	<h1>
		Please stand by
	</h1>
	<p>
		The site is under the maintenanse.
	</p>
</body>

</html>